.btn_header{
    display: inline-flex;
    padding: 7px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #5FBB9F;
}

.header_logo img{
    width: 244px;
    height: 77px;
}
// .header{
//     width: 100%;
// }

// h1{
//     font-family: 'OpenSans300';
//     color: aquamarine;
// }

// .header_logo{
//     width: 244px;
//     height: 77px;
// }