@import "_nullstyle.scss";

.btn_header{
    display: inline-flex;
    padding: 7px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
    background: #5FBB9F;
}

.header_logo {
    width: 244px;
    height: 77px;
}

.header{
    max-width: 1920px;

    .header__wrapper{
        width: 100%;
        
        .header_logo{
            width: 100%;
            height: auto;
            .logo{
                width: 244px;
                height: 77px;
            }
        }
    }
}